AWS_ACCESS_KEY_ID={{ graylog_backup_aws_access_key }}
AWS_SECRET_ACCESS_KEY={{ graylog_backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ graylog_backup_aws_region }}
MOSQUITTO_PASSWORD={{ graylog_backup_mosquitto_password }}
MOSQUITTO_USERNAME={{ graylog_backup_mosquitto_username }}
MOSQUITTO_HOST={{ graylog_backup_mosquitto_host }}
SERVICE_NAME={{ graylog_service_name }}
BACKUP_FROM={{ graylog_backup_from }}
BUCKET_NAME={{ graylog_backup_bucket_name }}
