api:
  dashboard: true
  insecure: true

entryPoints:
  websecure:
    address: ":443"
  syslogtcp:
    address: ":5140"

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

log:
  level: INFO

accessLog: {}
